<div class="show_contents">
 <div class="show_tb">
  <p><a class="show_subject">Title: </a><a><%= @book.title %></a></p>
 </div>
 <div class="show_tb">
  <p><a class="show_subject">Body: </a><a><%= @book.body %></a></p>
 </div>
</div>

 <div class="show_eb">
  <div class="show_edit">
   <%= link_to "Edit", edit_book_path(@book.id) %>
  </div>
  <div class="show_icon">
    <p>|</p>
  </div>
  <div class="show_back">
   <a href="/books">Back</a>
  </div>
 </div>